.reviewItemTextField {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 300px) 1fr;
    grid-template-areas: 
    'textfield'
    'user-info';
}
.reviewItemText {
    grid-area: textfield;
    font-family: Proxima-Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    overflow: auto;
}

.reviewItemNameAndInst {
    grid-area: user-info;
    margin-top: 32px;    
}

.reviewItemName {
    font-family: Proxima-Nova-Light;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.reviewItemInst {
    font-family: Proxima-Nova-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .reviewItemText {
        font-size: 26px;
    }
    .reviewItemName {
        font-size: 20px;
    }
    .reviewItemInst {
        font-size: 20px;
    }
}


@media (max-width: 700px) {
    .reviewItemText {
        font-size: 22px;
    }
    .reviewItemName {
        font-size: 16px;
    }
    .reviewItemInst {
        font-size: 16px;
    }
}

@media (max-width: 580px) {
    .reviewItemNameAndInst {
        align-self: flex-end;
    }

    .reviewItemTextField {
        grid-template-rows: minmax(auto, 350px) minmax(auto, 60px);
    }

    .reviewItemNameAndInst {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .reviewItemText {
        font-family: Proxima-Nova-Light;
        font-weight: 300;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.2px;
    }

    .reviewItemName {
        font-size: 20px;
        line-height: 140%;
    }

    .reviewItemInst {
        font-size: 20px;
        line-height: 140%;
    }
}

@media (max-width: 320px) {
    .reviewItemName {
        font-size: 16px;
    }

    .reviewItemInst {
        font-size: 16px;
    }
}