.item {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr max(200px);
    background-color: white;
    border-radius: 12px;
    grid-template-areas: 
    'image'
    'textNews';
}

.item img  {
    width: 100%;
    height: auto;
}

.image {
    grid-area: image;
    margin: 12px 12px 0 12px;
}

.text {
    margin: 20px 40px 20px 40px;
    font-family: Proxima-Nova-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    grid-area: textNews;
    display: flex;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color:#262626;
}

@media (max-width: 768px) {
    
    .text {
        font-weight: normal;
        font-size: 22px;
    }
}

@media (max-width: 580px) {

    .item {
        grid-template-rows: 3fr max(120px);
    }
    .image {
        justify-self: auto;
        margin: 8px 8px 0px 8px;
    }

    .text {
        justify-content: center;
        margin: 20px 8px 20px 8px;
        font-weight: normal;
        font-size: 22px;
        line-height: 120%;
        opacity: 0.8;
    }
}

@media (max-width: 400px) {
    .text {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    .text {
        font-size: 18px;
    }
}